services:
  ftlserver_0:
    image: ghcr.io/mbloomfi-tibco/as-tibftlserver:${AS_VERS}
    command: -c /config/ftl.yaml -n ftl0 --license /config/license.bin
    ports:
      - "13031:13031"
    volumes:
      - ./config/ftl.yaml:/config/ftl.yaml:ro
      - ./licence_key/license.bin:/config/license.bin:ro    
      - data:/data
 
  vectorstore:
    image: ghcr.io/mbloomfi-tibco/tib-as-vectorstore:${GRPC_SERVICES_VERSION}
    ports:
      - "50051:50051"
    environment:
      - AS_CONN_URL=http://ftlserver_0:13031
    depends_on:
      - "ftlserver_0"
      - "config"
    restart: on-failure
  
  documentstore:
    image: ghcr.io/mbloomfi-tibco/tib-as-documentstore:${GRPC_SERVICES_VERSION}
    ports:
      - "50052:50052"
    environment:
      - AS_CONN_URL=http://ftlserver_0:13031
    depends_on:
      - "ftlserver_0"
      - "config"
    restart: on-failure

  config:
    image: ghcr.io/mbloomfi-tibco/as-tibdg:${AS_VERS}
    command: '-r "http://ftlserver_0:13031" --wait-for-realm 60 -s /config/conf.tibdg'
    volumes:
      - ./config/conf.tibdg:/config/conf.tibdg:ro
      - data:/data
    depends_on:
      - "ftlserver_0"
  
  tibdgproxy_00:
    image: ghcr.io/mbloomfi-tibco/as-tibdgproxy:${AS_VERS}
    command: '-r "http://ftlserver_0:13031" -n p_00'
    volumes:
      - data:/data
    depends_on:
      - "ftlserver_0"
      - "config"
    restart: on-failure

  tibdgnode_1:
    image: ghcr.io/mbloomfi-tibco/as-tibdgnode:${AS_VERS}
    command: '-r "http://ftlserver_0:13031" -n cs_01.n_1'
    volumes:
      - data:/data
    depends_on:
      - "ftlserver_0"
      - "config"
    restart: on-failure

volumes:
    data: